@{
ViewData["Title"] = "Login";
}
@model LoginVM
@section Styles
{
    <link rel="stylesheet"
          href="~/css/register.css"
          asp-append-version="true" />
}
<div class="container min-vh-100 d-flex justify-content-center align-items-center">

	<div class="register-card p-5 w-100" style="max-width:700px;">

		<div class="logo">
			👤
		</div>

		<h2 class="text-center title mb-4">
			Login
		</h2>

		<form asp-action="Login" method="post">
		<div asp-validation-summary="ModelOnly" class="mb3 text-danger"></div>
			
		<div class="mb-3">
        <label asp-for="UserName" class="form-label"></label>
        <input asp-for="UserName" class="form-control">
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

		<div class="mb-3">
				<label asp-for="Password" class="form-label"></label>
				<input asp-for="Password" class="form-control">
				<span asp-validation-for="Password" class="text-danger"></span>
		</div>

		<div class="form-check mb-3">
        <input asp-for="RememberMe" class="form-check-input" />
        <label asp-for="RememberMe" class="form-check-label"></label>
    </div>

		<button type="submit" class="btn btn-cyan w-100 mt-3">
				Login
		</button>

		<p class="text-center mt-4 text-secondary">
		Don't have an account?
		<a asp-action="Register">
		Register
		</a>
		</p>

		</form>

	</div>

</div>
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}
